<!DOCTYPE html>
<html lang="en">
<head>{{>layout/head}}
</head>
<body>

	{{>layout/mainslider}}






	<!-- Content area -->
	<div class="content">



		<!-- Basic card -->
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title text-center">업체관리{{htmlzium}}</h5>
				<div class="header-elements d-none py-0 mb-3 mb-md-0">
					<form action="#">
						<div
							class="form-group form-group-feedback form-group-feedback-right">
							<input type="search"
								class="form-control bg-light-alpha border-transparent wmin-md-500"
								placeholder="Pleas for Company">
							<div class="form-control-feedback">
								<i class="icon-search4 font-size-sm"></i>

							</div>
						</div>

					</form>
				</div>
				<div class="header-elements text-right">
					<button type="submit" class="btn bg-primary" data-toggle="modal"
						data-target="#modal_create">New</button>
				</div>

			</div>

			<div class="card-body">


				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Client</th>
								<th>Site</th>
								<th>Company</th>
								<th>Type</th>
								<th>Manager</th>
								<th>Phone</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							{{#compList}}
							<tr role="row" class="odd" id={{coId}} style="cursor: pointer;"
								onclick="javascript:card_click(this);">
								<td tabindex="0" class="sorting_1">{{clientCd}}</td>
								<td>{{siteCd}}</td>
								<td>{{coNm}}</td>
								<td>{{companyTypeInfo}}</td>
								<td>{{coMngr}}</td>
								<td>{{coMngrPhone}}</td>
								<td>{{coMngrEmail}}</td>
							</tr>
							{{/compList}}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="card card-body border-top-teal text-center">
				<ul class="pagination pagination-flat align-self-center">
					{{{pagerTag}}}
				</ul>
			</div>
		</div>
		<!-- /basic card -->

		<!-- create form modal -->
		<div id="modal_create" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">업체 상세 정보</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<form action="#">
						<div class="modal-body">
							<input type="hidden" id="coId_"> <input type="hidden"
								id="creDtm_"> <input type="hidden" id="updDtm_">
							<input type="hidden" id="regrt_" value="User Id"> <input
								type="hidden" id="use_yn_" value="true">
							<div class="form-group">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label>client</label> <select id="clientCd_"
												class="form-control form-control-uniform">
												<option value="">please for select</option>
												<option value="ESE">ESE</option>
											</select>
										</div>
										<div class="col-sm-6">
											<label>site</label> <select id="siteCd_"
												class="form-control form-control-uniform">
												<option value="">please for select</option>
												<option value="499">판교(499)</option>
												<option value="111">유성(111)</option>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-4">
											<label>company</label> <input type="text"
												placeholder="company" class="form-control" id="coNm_">
										</div>

										<div class="col-sm-4">
											<label>type</label> <select id="coType_"
												class="form-control form-control-uniform">
												<option value="">please for select</option>
												<option value="001">공급 업체</option>
												<option value="002">공급/유지보수 업체</option>
												<option value="003">유지보수 업체</option>
											</select>
										</div>

										<div class="col-sm-4">
											<label>tel</label> <input type="text"
												placeholder="please not hyphen" class="form-control"
												id="coPhone_">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-12">
											<label>address</label> <input type="text"
												placeholder="address" class="form-control" id="coAddr_">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-12">
											<label>manager</label> <input type="text"
												placeholder="manager" class="form-control" id="coMngr_">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-12">
											<label>phone</label> <input type="text"
												placeholder="please not hyphen" class="form-control"
												id="coMngrPhone_">
										</div>
										<div class="col-sm-12">
											<label>email</label> <input type="text"
												placeholder="manager email" class="form-control"
												id="coMngrEmail_">
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary"
									onclick="javascript:new_save_click(this);">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /create form modal -->

		<!-- update form modal -->
		<div id="modal_default" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">업체 상세 정보</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<form action="#">
						<div class="modal-body">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<input type="hidden" id="coId"> <input type="hidden"
											id="creDtm"> <input type="hidden" id="updDtm">
										<input type="hidden" id="regrt"> <input type="hidden"
											id="use_yn"> <label>client</label> <input type="text"
											placeholder="client" class="form-control" id="clientCd"
											readOnly>
									</div>

									<div class="col-sm-6">
										<label>site</label> <input type="text" placeholder="site"
											class="form-control" id="siteCd" readOnly>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-4">
										<label>company</label> <input type="text"
											placeholder="company" class="form-control" id="coNm">
									</div>

									<div class="col-sm-4">
										<label>type</label> <select id="coType"
											class="form-control form-control-uniform">
											<option value="">please for select</option>
											<option value="001">공급 업체</option>
											<option value="002">공급/유지보수 업체</option>
											<option value="003">유지보수 업체</option>
										</select>
									</div>

									<div class="col-sm-4">
										<label>tel</label> <input type="text"
											placeholder="please not hyphen" class="form-control"
											id="coPhone">
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-12">
										<label>address</label> <input type="text"
											placeholder="address" class="form-control" id="coAddr">
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-12">
										<label>manager</label> <input type="text"
											placeholder="manager" class="form-control" id=coMngr>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-12">
										<label>phone</label> <input type="text"
											placeholder="please not hyphen" class="form-control"
											id=coMngrPhone>
									</div>
									<div class="col-sm-12">
										<label>email</label> <input type="text"
											placeholder="manager email" class="form-control"
											id=coMngrEmail>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
							<button type="submit" class="btn bg-primary"
								onclick="javascript:save_click(this);">Save</button>
							<button type="submit" class="btn bg-danger"
								onclick="javascript:delete_click(this);">Delete</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /update form modal -->

	</div>
	<!-- /content area -->



	<script>
		function card_click(obj) {

			$.ajax({
				type : "GET",
				url : "/comp/index/" + obj.id,
				dataType : "json",
				error : function(e) {
					console.log("전송 실패");
					console.log(e);
				},
				success : function(obj) {

					console.log("전송 성공");
					console.log(obj);

					$('#modal_default').modal('show');

					$('#coId').val(obj.coId);
					$('#clientCd').val(obj.clientCd);
					$('#siteCd').val(obj.siteCd);
					$('#coNm').val(obj.coNm);
					$('#coType').val(obj.coType);
					$('#coPhone').val(obj.coPhone);
					$('#coAddr').val(obj.coAddr);
					$('#coMngr').val(obj.coMngr);
					$('#coMngrPhone').val(obj.coMngrPhone);
					$('#coMngrEmail').val(obj.coMngrEmail);
					$('#creDtm').val(obj.creDtm);
					$('#updDtm').val(obj.updDtm);
					$('#regrt').val(obj.regrt);
					$('#use_yn').val(obj.use_yn);

				}
			});

		};

		function save_click(obj) {

			if ($("#clientCd").val() == "") {
				alert("client를 선택하여 주세요");
				return;
			} else if ($("#siteCd").val() == "") {
				alert("site를 선택하여 주세요");
				return;
			} else if ($("#coNm").val() == "") {
				alert("회사명을 입력하여 주세요");
				return;
			} else if ($("#coType").val() == "") {
				alert("업체 속성을 선택하여 주세요");
				return;
			} else if ($("#coPhone").val() == "") {
				alert("전화번호를 입력하여 주세요");
				return;
			} else if ($("#coAddr").val() == "") {
				alert("주소를 입력하여 주세요");
				return;
			} else if ($("#coMngr").val() == "") {
				alert("담당자 이름을 입력하여 주세요");
				return;
			} else if ($("#coMngrPhone").val() == "") {
				alert("담당자 전화번호를 입력하여 주세요");
				return;
			} else if ($("#coMngrEmail").val() == "") {
				alert("담당자 메일 주소를 입력하여 주세요");
				return;
			}

			var comp = {
				coId : $("#coId").val(),
				clientCd : $("#clientCd").val(),
				siteCd : $("#siteCd").val(),
				coNm : $("#coNm").val(),
				coType : $("#coType").val(),
				coPhone : $("#coPhone").val(),
				coAddr : $("#coAddr").val(),
				coMngr : $("#coMngr").val(),
				coMngrPhone : $("#coMngrPhone").val(),
				coMngrEmail : $("#coMngrEmail").val(),
				creDtm : $("#creDtm").val(),
				updDtm : $("#updDtm").val(),
				regrt : $("#regrt").val(),
				use_yn : $("#use_yn").val()

			}
			$.ajax({
				type : "POST",
				url : "/comp/save/",
				dataType : "text",
				contentType : "application/json",
				data : JSON.stringify(comp),
				success : function(obj) {
					alert('저장되었습니다.');
					$('#modal_default').modal('hide');
					window.location.href = "/comp/";
				},
				error : function(e) {
					console.log("전송 실패");
					console.log(e);
				}
			});
		};

		function delete_click(obj) {

			var delId = {
				coId : $("#coId").val()

			}
			$.ajax({
				type : "DELETE",
				url : "/comp/delete/",
				dataType : "text",
				contentType : "application/json",
				data : JSON.stringify(delId),
				success : function(obj) {
					alert('삭제되었습니다.');
					$('#modal_default').modal('hide');
					window.location.href = "/comp/";
				},
				error : function(e) {
					console.log("삭제 실패");
					console.log(e);
				}
			});
		};

		function new_save_click(obj) {

			if ($("#clientCd_").val() == "") {
				alert("client를 선택하여 주세요");
				return;
			} else if ($("#siteCd_").val() == "") {
				alert("site를 선택하여 주세요");
				return;
			} else if ($("#coNm_").val() == "") {
				alert("회사명을 입력하여 주세요");
				return;
			} else if ($("#coType_").val() == "") {
				alert("업체 속성을 선택하여 주세요");
				return;
			} else if ($("#coPhone_").val() == "") {
				alert("전화번호를 입력하여 주세요");
				return;
			} else if ($("#coAddr_").val() == "") {
				alert("주소를 입력하여 주세요");
				return;
			} else if ($("#coMngr_").val() == "") {
				alert("담당자 이름을 입력하여 주세요");
				return;
			} else if ($("#coMngrPhone_").val() == "") {
				alert("담당자 전화번호를 입력하여 주세요");
				return;
			} else if ($("#coMngrEmail_").val() == "") {
				alert("담당자 메일 주소를 입력하여 주세요");
				return;
			}

			var comp = {
				coId : $("#coId_").val(),
				clientCd : $("#clientCd_").val(),
				siteCd : $("#siteCd_").val(),
				coNm : $("#coNm_").val(),
				coType : $("#coType_").val(),
				coPhone : $("#coPhone_").val(),
				coAddr : $("#coAddr_").val(),
				coMngr : $("#coMngr_").val(),
				coMngrPhone : $("#coMngrPhone_").val(),
				coMngrEmail : $("#coMngrEmail_").val(),
				creDtm : $("#creDtm_").val(),
				updDtm : $("#updDtm_").val(),
				regrt : $("#regrt_").val(),
				use_yn : $("#use_yn_").val()

			}
			$.ajax({
				type : "POST",
				url : "/comp/update/",
				dataType : "text",
				contentType : "application/json",
				data : JSON.stringify(comp),
				success : function(obj) {
					alert('저장되었습니다.');
					$('#modal_create').modal('hide');
					window.location.href = "/comp/";
				},
				error : function(e) {
					console.log("전송 실패");
					console.log(e);
				}
			});
		};
	</script>





	{{>layout/footer}}

</body>
</html>
