{{>header}}

	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		{{>slider}}
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			{{>header2}}
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">


				<!-- Basic table -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">사용자 정보</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>			
					<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between">
						<div class="col-md- 10" >
							<input type="text" class="form-control" id="search" placeholder="고객 이름을 입력하세요!">
						</div>
						<div>
							<a href="#" class="btn bg-indigo-300"><i class="icon-statistics mr-2"></i> 찾기</a>
						</div>
					</div>
					<div class="row">
							{{#accountList}}
								<div class="col-xl-4 col-sm-6">
						<div class="card">
							<div class="card-img-actions">
								<img class="card-img-top img-fluid" src="../../../../global_assets/images/placeholders/placeholder.jpg" alt="">
								<div class="card-img-actions-overlay card-img-top">
									<a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
										<i class="icon-plus3"></i>
									</a>
									<a href="user_pages_profile.html" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
										<i class="icon-link"></i>
									</a>
								</div>
							</div>

					    	<div class="card-body text-center">
					    		<h6 class="font-weight-semibold mb-0">{{username}}</h6>
					    		<span class="d-block text-muted">{{phone}}</span>

				    			<div class="list-icons list-icons-extended mt-3">
			                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a>
			                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
			                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a>
		                    	</div>
					    	</div>
				    	</div>
					</div>
							{{/accountList}}
					</div>
				</div>
				<!-- /basic table -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			{{>footer}}
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
