<!DOCTYPE html>
<html lang="en">
<head>

 	{{>layout/head}}

</head>
<body>

	{{>layout/mainslider}}






	<!-- Content area -->
	<div class="content">



		<!-- Basic card -->
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title">{{camel}}Basic card{{htmlzium}}</h5>
				<div class="header-elements">
					<div class="list-icons">
						<a class="list-icons-item" data-action="collapse"></a> <a
							class="list-icons-item" data-action="reload"></a> <a
							class="list-icons-item" data-action="remove"></a>
					</div>
				</div>
			</div>

			<div class="card-body">


				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Birth Date</th>
							</tr>
						</thead>
						<tbody>
							{{#list}}
							<tr role="row" >
								<td tabindex="0" class="sorting_1" style="">{{dvcId}}</td>
								<td style="">{{dvcPkId}}</td>
								<td style="">{{dvcNm}}</td>
								<td style="">{{modelNm}}</td>
								<td style="">{{srialNm}}</td>
							</tr>
							{{/list}}
						</tbody>
					</table>
				</div>


				{{{pagerTag}}}


			</div>

		</div>
		<!-- /basic card -->


	</div>
	<!-- /content area -->



	<script>
		$(document).ready(function() {

			$("#sebtn").click(function() {
				console.log("save click!!!");

			});

		});
	</script>





	{{>layout/footer}}

</body>
</html>
