<!DOCTYPE html>
<html lang="en">
<head>
{{>layout/head}}
</head>
<body>

{{>layout/mainslider}}






<!-- Content area -->
<div class="content">



    <!-- Basic card -->
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title">태그 정보 관리</h5>

			</div>

			<div
				class="card-body d-sm-flex align-items-sm-center justify-content-sm-between">
				<div class="row">
					<div class="col-4">
						<div class="form-group">
							<label>Label</label> <input type="text" class="form-control"
								placeholder="col-md-4">
						</div>
					</div>

					<div class="col-6">
						<div class="form-group">
							<label>Label</label> <input type="text" class="form-control"
								placeholder="col-md-8">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<button class="btn bg-warning-300 form-control"><i
							class="icon-statistics mr-2" onclick=""></i>검색</button>
						</div>
					</div>
				</div>
			</div>


			<div id="DataTables_Table_0_wrapper"
				class="dataTables_wrapper no-footer">

				<div class="card">
					<div class="card-header header-elements-inline" style="text-align: right">

						<div onclick="javascript:open_postModal();">
							<a href="#" class="btn bg-indigo-300"><i
								class="icon-statistics mr-2" ></i>태그 등록</a>
						</div>
					</div>

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th><strong>운영사</strong></th>
									<th><strong>현장</strong></th>
									<th><strong>태그 유형</strong></th>
									<th><strong>태그 단위</strong></th>
									<th><strong>태그 코드</strong></th>
									<th><strong>태그명</strong></th>
									<th><strong>생성일자</strong></th>
								</tr>
							</thead>
							<tbody>
								{{#list}}
								<tr role="row" class="odd" id={{tagId}} style="cursor: pointer"
									onclick="javascript:card_click(this);">
									<td tabindex="0" class="sorting_1" style="">{{clientCd}}</td>
									<td style="">{{siteCd}}</td>
									<td style="">{{tagTypeNm}}</td>
									<td style="">{{tagUnitNm}}</td>
									<td style="">{{tagCd}}</td>
									<td style="">{{tagNm}}</td>
									<td style="">{{creDtm}}</td>
								</tr>
								{{/list}}
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<!-- /basic table -->

			
			<div id="myModal" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">사용자 정보</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<div class="form-group row">
									<label class="col-form-label col-lg-2">운영사</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="clientCd"
											disabled="disabled">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">현장</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="siteCd"
											disabled="disabled">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그 유형</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagTypeNm"
											disabled="disabled">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그 단위</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagUnitNm"
											disabled="disabled">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그 코드</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagCd"
											disabled="disabled">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그명</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagNm"
											disabled="disabled">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">생성일자</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="creDtm"
											disabled="disabled">
									</div>
								</div>
							</div>

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="tagId"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="creMn"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="tagType"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="updDtm"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="updMn"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="tagUnit"
											disabled="disabled">

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">닫기</button>
								<button type="button" class="btn bg-primary"
									onclick="javascript:rewrite_click(this);">수정</button>
								<button type="button" class="btn bg-primary"
									onclick="javascript:save_click();">저장</button>
								<button type="button" class="btn bg-warning"
									onclick="javascript:delete_click();">삭제</button>
							</div>
						</div>
					</div>
				</div>
				<!-- modal -->
			<div id="postModal" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">사용자 정보</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<div class="form-group row">
									<label class="col-form-label col-lg-2">운영사</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="clientCdPost">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">현장</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="siteCdPost">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그 유형</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagTypeNmPost">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그 단위</label>
									<div class="form-group row col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagUnitNmPost">
										<span tabindex="0" id="ui-id-9-button" role="combobox"
											aria-expanded="true" aria-autocomplete="list"
											aria-owns="ui-id-9-menu" aria-haspopup="true"
											class="ui-selectmenu-button ui-button ui-widget ui-selectmenu-button-open ui-corner-top col-lg-8"
											aria-activedescendant="ui-id-10" aria-labelledby="ui-id-14"
											aria-disabled="false" style="width: 100%;"><span
											class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span
											class="ui-selectmenu-text">Alabama</span></span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그 코드</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagCdPost">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-2">태그명</label>
									<div class="col-lg-10">
										<input type="text" class="form-control"
											placeholder="Enter your userId..." id="tagNmPost">
									</div>
								</div>
							</div>

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="creDtmPost"
											disabled="disabled">
							
							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="tagIdPost"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="creMnPost"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="tagTypePost"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="updDtmPost"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="updMnPost"
											disabled="disabled">

							<input type="hidden" class="form-control"
											placeholder="Enter your userId..." id="tagUnitPost"
											disabled="disabled">

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">닫기</button>
								<button type="button" class="btn bg-primary"
									onclick="javascript:create_click();">등록</button>
							</div>
						</div>
					</div>
				</div>
				<!-- modal -->
		</div>
		<!-- /basic card -->
		<div class="col-lg-12">
			<div class="card card-body border-top-teal text-center">
				<ul class="pagination pagination-flat align-self-center">
					{{{pagerTag}}}
				</ul>
			</div>
		</div>
</div>
<!-- /content area -->

<script type="text/javascript">


	function card_click(obj) {

		console.log(obj);
		console.log(obj.id);

		$.ajax({
			type : "GET",
			url : "/taginfo/" + obj.id,
			dataType : "json", 
			error : function(e) {
				console.log("전송 실패");
				console.log(e);
			},
			success : function(obj) {

				console.log("전송 성공");
				console.log(obj);

				$('#myModal').modal('show');

				$('#clientCd').val(obj.clientCd);
				$('#siteCd').val(obj.siteCd);
				$('#tagTypeNm').val(obj.tagTypeNm);
				$('#tagUnitNm').val(obj.tagUnitNm);
				$('#tagNm').val(obj.tagNm);
				$('#tagCd').val(obj.tagCd);
				$('#creDtm').val(obj.creDtm);
				$('#tagId').val(obj.tagId);
			
			}
		});
	};

	
	function rewrite_click(obj) {
		
		$('.form-control').prop("disabled", function(_, val) { return ! val; });
		
	};
	
	
	function save_click(obj) {

		var tagInfo = {
			 clientCd : $("#clientCd").val(),
			 siteCd : $("#siteCd").val(),
			 tagTypeNm : $("#tagTypeNm").val(),
			 tagUnitNm : $("#tagUnitNm").val(),
			 tagNm : $("#tagNm").val(),
			 tagCd : $("#tagCd").val(),
			 creDtm : $("#creDtm").val(),
			 tagId : $("#tagId").val(),

		}

		console.log("save clicked");
		console.log(tagInfo);

		$.ajax({
			type : "PUT",
			url : "/taginfo/save",
			dataType : "text",
			data : JSON.stringify(tagInfo),
			contentType : "application/json; charset=UTF-8",
			error : function(e) {
				console.log("전송 실패");
				console.log(e);
			},
			success : function(obj) {
				alert('저장되었습니다.');
			}
		});
	};
	
	
	function delete_click(obj) {
		
		var tagInfo = {
			tagId : $("#tagId").val()
		}
		
		console.log(tagInfo);
		
		if(confirm('태그 정보가 삭제됩니다.')) {
			
			$.ajax({
				type : "DELETE",
				url : "/taginfo/delete/",
				dataType : "text",
				data : JSON.stringify(tagInfo),
				contentType : "application/json; charset=UTF-8",
				error : function(e) {
					console.log("삭제 실패");
					console.log(e);
				},
				success : function(response) {
					alert('삭제 되었습니다.');
					$('#myModal').modal('hide');
					window.location.href = "/taginfo/";
				}
			});
			return ;
		} else {
			return false;
		}
	};

	
	function open_postModal(){
		
		$('#postModal').modal('show');

	};
	
	
	function create_click() {
		
		var tagInfo = {
				 clientCd : $("#clientCdPost").val(),
				 siteCd : $("#siteCdPost").val(),
				 tagTypeNm : $("#tagTypeNmPost").val(),
				 tagUnitNm : $("#tagUnitNmPost").val(),
				 tagNm : $("#tagNmPost").val(),
				 tagCd : $("#tagCdPost").val(),
				 creDtm : $("#creDtmPost").val(),
				 tagId : $("#tagIdPost").val(),
				 creDtm : $("#creDtmPost").val(),
				 creMn : $("#creMnPost").val(),
				 tagType : $("#tagTypePost").val(),
				 updDtm : $("#updDtmPost").val(),
				 updMn : $("#updMnPost").val(),
				 tagUnit : $("#tagUnitPost").val()
			}

			console.log("create clicked");
			console.log(tagInfo);
		
			$.ajax({
				type : "POST",
				url : "/taginfo/create/",
				dataType : "text",
				data : JSON.stringify(tagInfo),
				contentType : "application/json; charset=UTF-8",
				error : function(e) {
					console.log("등록 실패");
					console.log(e);
				},
				success : function(response) {
					alert('등록 되었습니다.');
					$('#postModal').modal('hide');
					window.location.href = "/taginfo/";
				}
			});
	};
	
	
</script>




	{{>layout/footer}}

</body>
</html>
