{{>header}}

<!-- Page content -->
<div class="page-content">

	<!-- Main sidebar -->
	{{>slider}}
	<!-- /main sidebar -->


	<!-- Main content -->
	<div class="content-wrapper">

		<!-- Page header -->
		{{>header2}}
		<!-- /page header -->

		<div class="content pt-0">

			<!-- Basic responsive configuration -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Configuration option</h5>
					<div class="header-elements">
						<div class="list-icons">
							<a class="list-icons-item" data-action="collapse"></a> <a
								class="list-icons-item" data-action="reload"></a> <a
								class="list-icons-item" data-action="remove"></a>
						</div>
					</div>
				</div>
				<div
					class="card-body d-sm-flex align-items-sm-center justify-content-sm-between">
					<div class="col-md- 10">
						<input type="text" class="form-control" id="search"
							placeholder="고객 이름을 입력하세요!">
					</div>
					<div>
						<a href="#" class="btn bg-indigo-300"><i
							class="icon-statistics mr-2"></i> 찾기</a>
					</div>
				</div>
				<div id="DataTables_Table_0_wrapper"
					class="dataTables_wrapper no-footer">

						<div class="card">
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Basic table</h5>
								<div class="header-elements">
									<div class="list-icons">
										<a class="list-icons-item" data-action="collapse"></a> <a
											class="list-icons-item" data-action="reload"></a> <a
											class="list-icons-item" data-action="remove"></a>
									</div>
								</div>
							</div>

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Birth Date</th>
									</tr>
								</thead>
								<tbody>
									{{#list}}
									<tr role="row" class="odd" id={{id}}
										onclick="javascript:card_click(this);">
										<td tabindex="0" class="sorting_1" style="">{{id}}</td>
										<td style="">{{firstName}}</td>
										<td style="">{{lastName}}</td>
										<td style="">{{Email}}</td>
										<td style="">{{birthdate}}</td>
									</tr>
									{{/list}}
								</tbody>
							</table>
						</div>
					</div>
						<!-- /basic table -->

				</div>	
							
				<div id="myModal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">사용자 정보</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<div class="modal-body">
							<div class="form-group row">
								<label class="col-form-label col-lg-2">User Id</label>
								<div class="col-lg-10">
									<input type="text" class="form-control"
										placeholder="Enter your userId..." id="id"
										disabled="disabled">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-2">이름</label>
								<div class="col-lg-10">
									<input type="text" class="form-control"
										placeholder="Enter your username..." id="firstName">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-2">성</label>
								<div class="col-lg-10">
									<input type="text" class="form-control"
										placeholder="Enter your username..." id="lastName">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-2">이메일</label>
								<div class="col-lg-10">
									<input type="text" class="form-control"
										placeholder="Enter your email..." id="email">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-2">생년월일</label>
								<div class="col-lg-10">
									<input type="text" class="form-control"
										placeholder="Enter your phone..." id="birthdate">
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-link" data-dismiss="modal">닫기</button>
							<button type="button" class="btn bg-primary" onclick="javascript:save_click(this);">저장 및 변경</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal -->
			</div>
			<!-- /basic responsive configuration -->


		</div>
		<script type="text/javascript">
			function card_click(obj) {
					
					console.log(obj.id);
					
					$.ajax({
						type : "GET",
						url : "/user/" + obj.id,
						dataType : "json",
						error : function(e) {
							console.log("전송 실패");
							console.log(e);
						},
						success : function(obj) {

							console.log("전송 성공");
							console.log(obj);

							$('#myModal').modal('show');

							$('#id').val(obj.id);
							$('#firstName').val(obj.firstName);
							$('#lastName').val(obj.lastName);
							$('#email').val(obj.email);
							$('#birthdate').val(obj.birthdate);
						}
				});
			};
			
			function save_click(obj){
				
				var author = {
						id: $("#id").val(),
						firstName: $("#firstName").val(),
						lastName: $("#lastName").val(),
						email: $("#email").val(),
						birthdate: $("#birthdate").val()
				}

				console.log(author);
				
				$.ajax({
					type : "POST",
					url : "/user/save/",
					dataType : "json",
					data : JSON.stringify(author),
					contentType : "application/json; charset=UTF-8",
					error : function(e) {
						console.log("전송 실패");
						console.log(e);
					},
					success : function(obj){
						alert('저장되었습니다.');
					}
				});
			};
		</script>

		<!-- Footer -->
		{{>footer}}
		<!-- /footer -->

	</div>
	<!-- /main content -->


</div>
<!-- /page content -->

</body>
</html>
